$colors: (
    primary: #0B3FD1,
    secondary: #ff5555,
    success: #43A047,
    white: #fff,
    light-gray: #fcfcfc,
    medium-gray: #BDBDBD,
    dark-gray: #616161,
    black: #1f2a33,
);

@function color($name) {
    @return map-get($colors, $name);
}
