.promo-articles {
    text-align: left;
    margin-bottom: rem-calc(20);
}

.promo-articles__title {
    margin-bottom: rem-calc(30);
}

.promo-articles__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: rem-calc(0 -10);
}

.promo-articles__item {
    position: relative;
    flex-basis: 50%;
    @include breakpoint(medium) {
        flex-basis: 33.3333%;
    }
    @include breakpoint(large) {
        flex-basis: 25%;
    }
    margin-bottom: rem-calc(30);
    padding: rem-calc(0 10);
}

.promo-articles__img {
    margin-bottom: rem-calc(18);
    box-shadow: 0 2px 6px rgba(36, 34, 34, 0.08);

    img {
        display: block;
        width: 100%;
    }
}

.promo-articles__link {
    color: #364a59;
    font-size: rem-calc(17);
    line-height: rem-calc(24);
    border-bottom: 1px solid transparent;
    font-family: 'PF Din Display Pro Regular';
    transition: color 250ms, border-color 250ms;

    &:hover {
        color: #4b7dc4;
        border-color: #4b7dc4;
    }

    &::before {
        content: '';
        position: absolute;
        left: rem-calc(10);
        right: rem-calc(10);
        top: 0;
        bottom: 0;
    }
}
